.chat-main__message-list__group
  .chat-main__message-list__group__name
    = message.user.name
  .chat-main__message-list__group__time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-main__message-list__group__message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'chat-main__message-list__group__message' if message.image.present?
