.chat-main__message-list__group 
  .chat-main__message-list__group__message{data: {message: {id: message.id}}}
    .chat-main__message-list__group__s
      .chat-main__message-list__group__s__name
        = message.user.name
      .chat-main__message-list__group__s__time
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .chat-main__message-list__group__message
      - if message.content.present?
        = message.content
      = image_tag message.image.url, class: 'chat-main__message-list__group__message--img' if message.image.present?